---
layout: default
---
<head>
    <title>An Improved Caesar Cipher</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>

    <script>
     function improved_caesar_cipher(text, key, encrypt) {
         var rng = new Math.seedrandom(key);
         var encrypted = "";

         // use ASCII chars 32 - 126 (95 chars)
         for (var i = 0; i < text.length; i++) {
             var c = text.charCodeAt(i);
             var rn = Math.floor(rng() * 95);
             var code;
             
             if (encrypt) {
                 code = (c - 32 + rn) % 95 + 32;
             } else {
                 var rshift = 95 + (-rn % 95);
                 code = (c - 32 + rshift) % 95 + 32;
             }
             encrypted += String.fromCharCode(code);
         }
         return encrypted;
     }

     function caesar_cipher(text, key) {
         var encrypted = "";
         var rshift = 0;

         // Check if negative
         if (key < 0) {
             rshift = 26 + (key % 26); // Convert to positive shift
         } else {
             rshift = key;
         }
         
         for (var i = 0; i < text.length; i++) {
             var c = text.charCodeAt(i);

             if (65 <= c && c <= 90) { // Check for uppercase 
                 encrypted += String.fromCharCode((c - 65 + rshift) % 26 + 65);
             } else if (97 <= c && c <= 122) { // Check for lowercase
                 encrypted += String.fromCharCode((c - 97 + rshift) % 26 + 97);
             } else { // Everything else, just return it
                 encrypted += text.charAt(i);
             }
         }
         return encrypted;
     }

     function decrypt_caesar_cipher(text, key) {
         return caesar_cipher(text, -key);
     }
    </script>
</head>
<body>
    <div id="app">
        <div style="border: 3px solid black ; padding: 10px ; text-align: center">
            Replace the message below with your own or use the one in the box. Next enter an integer for the <i>Caesar Cipher</i> encryption or any
            combination of characters for the <i>Improved Cipher</i> encryption and click the <b>encrypt</b> buttons to encode your message. Try
            mixing keys and encryption methods to see what happens.<p>
            <textarea rows="5" v-model="message"></textarea><br><p></p>
            <span style="color: red ; font-size: 75%"><i>((errorMsg))</i></span><br>
            <input v-on:change="validateinput" v-model="caesarkey" placeholder="Caesar key"><br>
            <button v-on:click="encryptCaesar" style="margin: 5px">caesar Encrypt</button><p></p>
            <input v-model="improvekey" placeholder="Improved key"><br>
            <button v-on:click="encryptImproved" style="margin: 5px">Improved Cipher</button>
        </div>
        <p></p>
        <div style="border: 3px solid black ; padding: 10px ; text-align: center">
            <h4>Encryption result: <span style="color: blue">((encryptStyle))</span></h4>
            <p><b>((encryptedText))</b></p>
        </div>
        <p></p>
        <div style="border: 3px solid black ; padding: 10px ; text-align: center">
            <p>Decrypt the hidden message using the key you entered above.</p>
            <button v-on:click="decryptCaesar">Caesar Decrypt</button>
            <button v-on:click="decryptImproved">Improved Decrypt</button>
            <h4>Decryption result: <span style="color: blue">((decryptStyle))</span></h4>
            <p><b>((decryptedText))</b></p>
        </div>
    </div>

    <script>
     var app = new Vue({
         delimiters: ['((', '))'],
         el: '#app',
         data: {
             message: 'Replace this text with your own secret message or just use this one.',
             caesarkey: '',
             improvekey: '',
             encryptedText: '',
             decryptedText: '',
             errorMsg: '',
             encryptStyle: '',
             decryptStyle: ''
         },
         methods: {
             encryptCaesar: function () {
                 if (this.caesarkey != '') {
                     this.encryptedText = caesar_cipher(this.message, this.caesarkey);
                     this.encryptStyle = 'Caesar Cipher';
                 }
             },
             encryptImproved: function () {
                 if (this.improvekey != '') {
                     this.encryptedText = improved_caesar_cipher(this.message, this.improvekey, true);
                     this.encryptStyle = 'Improved Cipher';
                 }
             },
             decryptCaesar: function () {
                 if (this.caesarkey != '') {
                     this.decryptedText = decrypt_caesar_cipher(this.encryptedText, this.caesarkey);
                     this.decryptStyle = 'Caesar Cipher';
                 }
             },
             decryptImproved: function () {
                 if (this.improvekey != '') {
                     this.decryptedText = improved_caesar_cipher(this.encryptedText, this.improvekey, false);
                     this.decryptStyle = 'Improved Cipher';
                 }
             },
             validateinput: function () {
                 let val = Number(this.caesarkey);
                 if (val.isNAN || !Number.isInteger(val)) {
                     this.caesarkey = '';
                     this.errorMsg = 'Only integers can be a valid key for the Caesar cipher.';
                 } else {
                     this.caesarkey = val;
                     this.errorMsg = '';
                 }
             }
         }
     })
    </script>
</body>

